* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.Square {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-right: 2px;
  padding: 2px;
  border: 1px solid gray;
  position: relative;
  overflow: hidden;
}

.Square::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
}

.Square--Filled::before {
  background-color: #57c9c9;
}

.Square--Crossed {
  padding: 0;
}

.Square--Crossed::before {
  width: 200%;
  position: absolute;
  border-top: 1px solid gray;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
}
